@import "../pages/Lobby", "../pages/CodeBlock";

* {
  padding: 0px;
  margin: 0px;
}
.btn {
  width: 100px;
  height: 40px;
  background-color: rgb(31, 52, 174);
  border-radius: 50px;
  cursor: pointer;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: wheat;
}
